@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 cursor-none;
    font-feature-settings: "salt" on, "ss01" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .animate-gradient {
    background: linear-gradient(
      to right,
      theme(colors.emerald.400),
      theme(colors.blue.400),
      theme(colors.purple.400),
      theme(colors.emerald.400)
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient 8s linear infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes shine {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}